<article class="flex flex-col" id="back-end">
  <h4 class="text-white font-bold text-2xl">Back-end</h4>
  <div
    class="flex mt-4 border-[1px] bg-[#152841] border-slate-700 rounded-lg p-4 gap-4 justify-center flex-wrap h-full items-start lg:min-h-80"
  >
    <div class="flex flex-col items-center justify-center gap-4">
      <h5 class="text-white font-semibold text-md">Node.js</h5>
      <img
        loading="lazy"
        alt="Node Js"
        class="w-11 h-11 object-contain"
        src="https://ddw0jzv6yetk6.cloudfront.net/node.png"
      />
    </div>
    <div class="flex flex-col items-center justify-center gap-4">
      <h5 class="text-white font-semibold text-md">Express.js</h5>
      <img
        loading="lazy"
        alt="Express Js"
        src="https://ddw0jzv6yetk6.cloudfront.net/express.png"
        class="w-11 h-11 object-contain"
      />
    </div>
    <div class="flex flex-col items-center justify-center gap-4">
      <h5 class="text-white font-semibold text-md">Nest.js</h5>
      <img
        loading="lazy"
        alt="Nest Js"
        class="w-11 h-11 object-contain rounded-lg"
        src="https://ddw0jzv6yetk6.cloudfront.net/nest.png"
      />
    </div>
    <div class="flex flex-col items-center justify-center gap-4">
      <h5 class="text-white font-semibold text-md">Typescript</h5>
      <img
        loading="lazy"
        alt="Typescript"
        class="w-11 h-11 object-contain rounded-lg"
        src="https://ddw0jzv6yetk6.cloudfront.net/ts.png"
      />
    </div>
  </div>
</article>
