<article class="flex flex-col" id="database">
  <h4 class="text-white font-bold text-2xl">Database</h4>
  <div
    class="flex mt-4 border-[1px] bg-[#152841] border-slate-700 rounded-lg p-4 gap-4 justify-center flex-wrap h-full items-start lg:min-h-80"
  >
    <div class="flex flex-col items-center justify-center gap-4">
      <h5 class="text-white font-semibold text-md">Mongo DB</h5>
      <img
        loading="lazy"
        class="w-11 h-11 object-contain rounded-lg"
        src="https://ddw0jzv6yetk6.cloudfront.net/mongo.png"
      />
    </div>
    <div class="flex flex-col items-center justify-center gap-4">
      <h5 class="text-white font-semibold text-md">Postgre SQL</h5>
      <img
        loading="lazy"
        class="w-11 h-11 object-contain rounded-lg"
        src="https://ddw0jzv6yetk6.cloudfront.net/postgresql.png"
      />
    </div>
    <div class="flex flex-col items-center justify-center gap-4">
      <h5 class="text-white font-semibold text-md">MySQL</h5>
      <img
        loading="lazy"
        class="w-11 h-11 object-contain rounded-lg"
        src="https://ddw0jzv6yetk6.cloudfront.net/mysql.png"
      />
    </div>
  </div>
</article>
