<article class="flex flex-col" id="dev-ops">
  <h4 class="text-white font-bold text-2xl">Dev Ops</h4>
  <div
    class="flex mt-4 border-[1px] bg-[#152841] border-slate-700 rounded-lg p-4 gap-4 justify-center flex-wrap h-full items-start lg:min-h-80"
  >
    <div class="flex flex-col items-center justify-center gap-4">
      <h5 class="text-white font-semibold text-md">AWS S3</h5>
      <img
        loading="lazy"
        class="w-11 h-11 object-contain"
        src="https://ddw0jzv6yetk6.cloudfront.net/s3.png"
      />
    </div>
    <div class="flex flex-col items-center justify-center gap-4">
      <h5 class="text-white font-semibold text-md">AWS EC2</h5>
      <img
        loading="lazy"
        class="w-11 h-11 object-contain"
        src="https://ddw0jzv6yetk6.cloudfront.net/ec2.png"
      />
    </div>
    <div class="flex flex-col items-center justify-center gap-4">
      <h5 class="text-white font-semibold text-md">AWS Lambda</h5>
      <img
        loading="lazy"
        class="w-11 h-11 object-contain"
        src="https://ddw0jzv6yetk6.cloudfront.net/lambda.png"
      />
    </div>
    <div class="flex flex-col items-center justify-center gap-4">
      <h5 class="text-white font-semibold text-md">AWS Cloudfront</h5>
      <img
        loading="lazy"
        class="w-11 h-11 object-contain"
        src="https://ddw0jzv6yetk6.cloudfront.net/cloudfront.png"
      />
    </div>
    <div class="flex flex-col items-center justify-center gap-4">
      <h5 class="text-white font-semibold text-md">Cloudflare</h5>
      <img
        loading="lazy"
        class="w-11 h-11 object-contain"
        src="https://ddw0jzv6yetk6.cloudfront.net/cloudflare.png"
      />
    </div>
    <div class="flex flex-col items-center justify-center gap-4">
      <h5 class="text-white font-semibold text-md">Github Actions</h5>
      <img
        loading="lazy"
        class="w-11 h-11 object-contain"
        src="https://ddw0jzv6yetk6.cloudfront.net/github-actions.png"
      />
    </div>
  </div>
</article>
