<article class="flex flex-col" id="front-end">
  <h4 class="text-white font-bold text-2xl">Front-end</h4>
  <div
    class="flex mt-4 border-[1px] bg-[#152841] border-slate-700 rounded-lg p-4 gap-4 justify-center flex-wrap h-full items-start lg:min-h-80"
  >
    <div class="flex flex-col items-center justify-center gap-4">
      <h5 class="text-white font-semibold text-md">HTML</h5>
      <img
        loading="lazy"
        src="https://ddw0jzv6yetk6.cloudfront.net/html.png"
        class="w-11 h-11 object-contain"
      />
    </div>
    <div class="flex flex-col items-center justify-center gap-4">
      <h5 class="text-white font-semibold text-md">CSS</h5>
      <img
        loading="lazy"
        src="https://ddw0jzv6yetk6.cloudfront.net/css.png"
        class="w-11 h-11 object-contain"
      />
    </div>
    <div class="flex flex-col items-center justify-center gap-4">
      <h5 class="text-white font-semibold text-md">JavaScript</h5>
      <img
        loading="lazy"
        src="https://ddw0jzv6yetk6.cloudfront.net/js.png"
        class="w-11 h-11 object-contain rounded-lg"
      />
    </div>
    <div class="flex flex-col items-center justify-center gap-4">
      <h5 class="text-white font-semibold text-md">Angular</h5>
      <img
        loading="lazy"
        src="https://ddw0jzv6yetk6.cloudfront.net/angular.png"
        class="w-11 h-11 object-contain"
      />
    </div>
    <div class="flex flex-col items-center justify-center gap-4">
      <h5 class="text-white font-semibold text-md">React</h5>
      <img
        loading="lazy"
        src="https://ddw0jzv6yetk6.cloudfront.net/react.png"
        class="w-11 h-11 object-contain"
      />
    </div>
    <div class="flex flex-col items-center justify-center gap-4">
      <h5 class="text-white font-semibold text-md">Next.js</h5>
      <img
        loading="lazy"
        class="bg-white rounded-full overflow-hidden w-11 h-11 object-contain"
        style="border: inset"
        src="https://ddw0jzv6yetk6.cloudfront.net/next.png"
      />
    </div>
    <div class="flex flex-col items-center justify-center gap-4">
      <h5 class="text-white font-semibold text-md">Astro</h5>
      <img
        loading="lazy"
        class="w-11 h-11 object-contain"
        src="https://ddw0jzv6yetk6.cloudfront.net/astro.png"
      />
    </div>
  </div>
</article>
