<article class="flex flex-col" id="other-languages">
  <h4 class="text-white font-bold text-2xl">Other Languages</h4>
  <div
    class="flex mt-4 border-[1px] bg-[#152841] border-slate-700 rounded-lg p-4 gap-4 justify-center flex-wrap h-full items-start lg:min-h-80"
  >
    <div class="flex flex-col items-center justify-center gap-4">
      <h5 class="text-white font-semibold text-md">Python</h5>
      <img
        loading="lazy"
        alt="Python"
        class="w-11 h-11 object-contain"
        src="https://ddw0jzv6yetk6.cloudfront.net/python.png"
      />
    </div>
    <div class="flex flex-col items-center justify-center gap-4">
      <h5 class="text-white font-semibold text-md">Rust</h5>
      <img
        loading="lazy"
        alt="Rust"
        class="w-11 h-11 object-contain"
        src="https://ddw0jzv6yetk6.cloudfront.net/rust.png"
      />
    </div>
    <div class="flex flex-col items-center justify-center gap-4">
      <h5 class="text-white font-semibold text-md">Java+XML</h5>
      <img
        loading="lazy"
        alt="Java + XML"
        class="w-11 h-11 object-contain"
        src="https://ddw0jzv6yetk6.cloudfront.net/android.png"
      />
    </div>
    <div class="flex flex-col items-center justify-center gap-4">
      <h5 class="text-white font-semibold text-md">Flutter</h5>
      <img
        loading="lazy"
        alt="Flutter"
        class="w-11 h-11 object-contain"
        src="https://ddw0jzv6yetk6.cloudfront.net/flutter.png"
      />
    </div>
  </div>
</article>
