<section
  id="about"
  class="w-full px-[5%] md:px-[15%] flex items-center flex-col md:flex-row md:gap-9 pt-24 md:pt-0 md:min-h-[100vh]"
>
  <img
    width="180"
    height="180"
    class="rounded-full"
    src="https://ddw0jzv6yetk6.cloudfront.net/portrait.jpeg"
  />
  <div class="flex flex-col gap-2 flex-1 pt-8 md:pt-0">
    <h3 class="text-white text-3xl font-bold text-center w-full md:text-left">
      Luca Smigoski
    </h3>
    <p class="text-white text-justify">
      Hey there! I'm Luca Smigoski, your go-to guy for all things web, mobile,
      and SaaS. I'm all about turning big ideas into even bigger realities with
      a dash of creativity and a whole lot of code. Whether you're looking to
      build from scratch or give your existing platform a facelift, I'm here to
      make it happen. Ready to make some digital magic together? Let's get
      started!
    </p>
  </div>
</section>
