<div class="timeline-container__left">
  <div class="timeline-content">
    <div class="flex justify-between items-center">
      <h2 class="font-bold text-lg">Baufest</h2>
      <span class="text-sm text-right text-slate-400">Jul/2021 - Oct/2021</span>
    </div>
    <p class="mt-4">
      As a front-end developer, I was tasked with creating features and fixing
      bugs for an internal management system at Molinos Agro, a leading grain
      exporting company and raw material producer. The system was designed to
      control and geolocate ships at sea, tracking their segments and journeys
      to other countries for export purposes. My work involved using Angular
      versions 8 to 10, focusing on enhancing the functionality and reliability
      of the system to support the company's logistical and export operations.
    </p>
    <div class="flex flex-col gap-2 mt-8">
      <span class="">Technologies: </span>
      <div class="flex flex-wrap gap-2">
        <div
          class="border-[1px] border-slate-500 rounded-md flex gap-2 items-center px-2 py-1"
        >
          <div class="tooltip">
            <span class="tooltiptext">Angular</span>
            <img
              width="24"
              height="24"
              alt="Angular"
              loading="lazy"
              class="rounded-sm object-fit"
              src="https://ddw0jzv6yetk6.cloudfront.net/angular.png"
            />
          </div>
          <div class="tooltip">
            <span class="tooltiptext">Typescript</span>
            <img
              width="24"
              height="24"
              alt="Typescript"
              loading="lazy"
              class="rounded-sm object-fit"
              src="https://ddw0jzv6yetk6.cloudfront.net/ts.png"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
