<div class="timeline-container__right">
  <div class="timeline-content">
    <div class="flex justify-between items-center">
      <h2 class="font-bold text-lg">Freelance</h2>
      <span class="text-sm text-right text-slate-400">Sep/2018 - Current</span>
    </div>
    <p class="mt-4">
      As a freelance developer specializing in front-end and mobile
      applications, I have crafted software solutions for both local and
      international businesses. My projects include developing a management
      software for an aluminum window company using Angular versions 8 to 14,
      and a similar solution for a real estate agency. Additionally, I built the
      public website for the aluminum window company using HTML, CSS,
      JavaScript, and AJAX/jQuery. On the mobile front, I developed an Android
      app for pet adoption and rescue using Java and XML. I continue to engage
      in freelance projects to study, enhance my skills, and develop my own
      products.
    </p>
    <div class="flex flex-col gap-2 mt-8">
      <span class="">Technologies: </span>
      <div class="flex flex-wrap gap-2">
        <div
          class="border-[1px] border-slate-500 rounded-md flex gap-2 items-center px-2 py-1"
        >
          <div class="tooltip">
            <span class="tooltiptext">S3</span>
            <img
              width="24"
              height="24"
              class="rounded-sm bg-white object-fit"
              src="https://ddw0jzv6yetk6.cloudfront.net/s3.png"
            />
          </div>
        </div>

        <div
          class="border-[1px] border-slate-500 rounded-md flex gap-2 items-center px-2 py-1"
        >
          <div class="tooltip">
            <span class="tooltiptext">MongoDB</span>
            <img
              width="24"
              height="24"
              class="rounded-sm object-fit"
              src="https://ddw0jzv6yetk6.cloudfront.net/mongo.png"
            />
          </div>
          <div class="tooltip">
            <span class="tooltiptext">PostgreSQL</span>
            <img
              width="24"
              height="24"
              class="rounded-sm object-fit"
              src="https://ddw0jzv6yetk6.cloudfront.net/postgresql.png"
            />
          </div>
        </div>

        <div
          class="border-[1px] border-slate-500 rounded-md flex gap-2 items-center px-2 py-1"
        >
          <div class="tooltip">
            <span class="tooltiptext">React</span>
            <img
              width="24"
              height="24"
              class="rounded-sm object-fit"
              src="https://ddw0jzv6yetk6.cloudfront.net/react.png"
            />
          </div>
          <div class="tooltip">
            <span class="tooltiptext">NextJs</span>
            <img
              width="24"
              height="24"
              class="rounded-sm bg-white object-fit"
              src="https://ddw0jzv6yetk6.cloudfront.net/next.png"
            />
          </div>
          <div class="tooltip">
            <span class="tooltiptext">NestJs</span>
            <img
              width="24"
              height="24"
              class="rounded-sm object-fit"
              src="https://ddw0jzv6yetk6.cloudfront.net/nest.png"
            />
          </div>
          <div class="tooltip">
            <span class="tooltiptext">Python</span>
            <img
              width="24"
              height="24"
              class="rounded-sm object-fit"
              src="https://ddw0jzv6yetk6.cloudfront.net/python.png"
            />
          </div>
          <div class="tooltip">
            <span class="tooltiptext">Rust</span>
            <img
              width="24"
              height="24"
              class="rounded-sm bg-white object-fit"
              src="https://ddw0jzv6yetk6.cloudfront.net/rust.png"
            />
          </div>
          <div class="tooltip">
            <span class="tooltiptext">Typescript</span>
            <img
              width="24"
              height="24"
              class="rounded-sm object-fit"
              src="https://ddw0jzv6yetk6.cloudfront.net/ts.png"
            />
          </div>
          <div class="tooltip">
            <span class="tooltiptext">Android (Java + XML)</span>
            <img
              width="24"
              height="24"
              class="rounded-sm object-fit"
              src="https://ddw0jzv6yetk6.cloudfront.net/android.png"
            />
          </div>
          <div class="tooltip">
            <span class="tooltiptext">Angular</span>
            <img
              width="24"
              height="24"
              class="rounded-sm object-fit"
              src="https://ddw0jzv6yetk6.cloudfront.net/angular.png"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
