<div class="timeline-container__left">
  <div class="timeline-content">
    <div class="flex justify-between items-center">
      <h2 class="font-bold text-lg">Naranja X</h2>
      <span class="text-sm text-right text-slate-400">Aug/2022 - Jun/2023</span>
    </div>
    <p class="mt-4">
      As a front-end developer at a financial services company, my
      responsibilities included developing new features, resolving bugs,
      managing weekly deployments, and conducting code reviews using Angular
      versions 12 to 14. In the latter part of my tenure, I was promoted to
      Senior Front-End Developer and took charge of the front-end team. The
      company specializes in financial products such as loans, credit cards, and
      virtualized bank accounts.
    </p>
    <div class="flex flex-col gap-2 mt-8">
      <span class="">Technologies: </span>
      <div class="flex flex-wrap gap-2">
        <div
          class="border-[1px] border-slate-500 rounded-md flex gap-2 items-center px-2 py-1"
        >
          <div class="tooltip">
            <span class="tooltiptext">Angular</span>
            <img
              width="24"
              height="24"
              class="rounded-sm object-fit"
              src="https://ddw0jzv6yetk6.cloudfront.net/angular.png"
            />
          </div>
          <div class="tooltip">
            <span class="tooltiptext">Typescript</span>
            <img
              width="24"
              height="24"
              class="rounded-sm object-fit"
              src="https://ddw0jzv6yetk6.cloudfront.net/ts.png"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
