<div class="timeline-container__left">
  <div class="timeline-content">
    <div class="flex justify-between items-center">
      <h2 class="font-bold text-lg">Void.GG</h2>
      <span class="text-sm text-right text-slate-400">Mar/2023 - Current</span>
    </div>
    <p class="mt-4">
      As a software engineer, I focus on developing both front-end and back-end
      components for web applications, along with dev-ops responsibilities
      related to the development and deployment of server instances, serverless
      functions, and queue systems. My primary project was developing a tracking
      system for player and match data in games like Counter Strike 2 and Old
      School Runescape (full stack) and Fortnite (front-end only). Additionally,
      I've created web scraping bots for news and a content creation system
      leveraging OpenAI technology. My roles also included updating libraries,
      starting projects from scratch, and upgrading to newer versions of
      frameworks.
    </p>
    <div class="flex flex-col gap-2 mt-8">
      <span class="">Technologies: </span>
      <div class="flex flex-wrap gap-2">
        <div
          class="border-[1px] border-slate-500 rounded-md flex gap-2 items-center px-2 py-1"
        >
          <div class="tooltip">
            <span class="tooltiptext">Apify</span>
            <img
              width="24"
              height="24"
              alt="Apify"
              loading="lazy"
              class="rounded-sm bg-white object-fit"
              src="https://ddw0jzv6yetk6.cloudfront.net/apify.png"
              alt="Apify"
            />
          </div>
          <div class="tooltip">
            <span class="tooltiptext">OpenAI</span>
            <img
              width="24"
              height="24"
              alt="OpenAI"
              loading="lazy"
              class="rounded-sm bg-white object-fit"
              src="https://ddw0jzv6yetk6.cloudfront.net/openai.png"
            />
          </div>
        </div>

        <div
          class="border-[1px] border-slate-500 rounded-md flex gap-2 items-center px-2 py-1"
        >
          <div class="tooltip">
            <span class="tooltiptext">Lambda</span>
            <img
              width="24"
              height="24"
              alt="Lambda"
              loading="lazy"
              class="rounded-sm bg-white object-fit"
              src="https://ddw0jzv6yetk6.cloudfront.net/lambda.png"
            />
          </div>
          <div class="tooltip">
            <span class="tooltiptext">S3</span>
            <img
              width="24"
              height="24"
              alt="AWS S3"
              loading="lazy"
              class="rounded-sm bg-white object-fit"
              src="https://ddw0jzv6yetk6.cloudfront.net/s3.png"
            />
          </div>
          <div class="tooltip">
            <span class="tooltiptext">SQS</span>
            <img
              width="24"
              height="24"
              alt="AWS SQS"
              loading="lazy"
              class="rounded-sm bg-white object-fit"
              src="https://ddw0jzv6yetk6.cloudfront.net/sqs.png"
            />
          </div>
        </div>

        <div
          class="border-[1px] border-slate-500 rounded-md flex gap-2 items-center px-2 py-1"
        >
          <div class="tooltip">
            <span class="tooltiptext">MongoDB</span>
            <img
              width="24"
              height="24"
              alt="MongoDB"
              loading="lazy"
              class="rounded-sm object-fit"
              src="https://ddw0jzv6yetk6.cloudfront.net/mongo.png"
            />
          </div>
          <div class="tooltip">
            <span class="tooltiptext">PostgreSQL</span>
            <img
              width="24"
              height="24"
              alt="PostgreSQL"
              loading="lazy"
              class="rounded-sm object-fit"
              src="https://ddw0jzv6yetk6.cloudfront.net/postgresql.png"
            />
          </div>
        </div>

        <div
          class="border-[1px] border-slate-500 rounded-md flex gap-2 items-center px-2 py-1"
        >
          <div class="tooltip">
            <span class="tooltiptext">React</span>
            <img
              width="24"
              height="24"
              alt="React"
              loading="lazy"
              class="rounded-sm object-fit"
              src="https://ddw0jzv6yetk6.cloudfront.net/react.png"
            />
          </div>
          <div class="tooltip">
            <span class="tooltiptext">NextJs</span>
            <img
              width="24"
              height="24"
              alt="NextJs"
              loading="lazy"
              class="rounded-sm bg-white object-fit"
              src="https://ddw0jzv6yetk6.cloudfront.net/next.png"
            />
          </div>
          <div class="tooltip">
            <span class="tooltiptext">NestJs</span>
            <img
              width="24"
              height="24"
              alt="NestJs"
              loading="lazy"
              class="rounded-sm object-fit"
              src="https://ddw0jzv6yetk6.cloudfront.net/nest.png"
            />
          </div>
          <div class="tooltip">
            <span class="tooltiptext">Python</span>
            <img
              width="24"
              height="24"
              alt="Python"
              loading="lazy"
              class="rounded-sm object-fit"
              src="https://ddw0jzv6yetk6.cloudfront.net/python.png"
            />
          </div>
          <div class="tooltip">
            <span class="tooltiptext">Rust</span>
            <img
              width="24"
              height="24"
              alt="Rust"
              loading="lazy"
              class="rounded-sm bg-white object-fit"
              src="https://ddw0jzv6yetk6.cloudfront.net/rust.png"
            />
          </div>
          <div class="tooltip">
            <span class="tooltiptext">Typescript</span>
            <img
              width="24"
              height="24"
              alt="Typescript"
              loading="lazy"
              class="rounded-sm object-fit"
              src="https://ddw0jzv6yetk6.cloudfront.net/ts.png"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
