---
import Navbar from "../components/navbar/nav.astro";
import About from "../components/sections/about.astro";
import Experience from "../components/sections/experience.astro";
import Technologies from "../components/sections/technologies.astro";
import Contact from "../components/sections/contact.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <title>Luca Smigoski</title>
    <script>
      const handleScroll = () => {
        const navbar = document.querySelector("nav");
        if (!navbar) return;
        if (window.scrollY > 0) {
          navbar.classList.add("nav-scrolled");
        } else {
          navbar.classList.remove("nav-scrolled");
        }
      };

      window?.addEventListener("scroll", handleScroll);
    </script>
  </head>
  <body class="bg-main-bg relative">
    <Navbar />
    <About />
    <Experience />
    <Technologies />
    <Contact />
  </body>
</html>

<style is:global>
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: Inter, Arial, sans-serif;
  }
</style>
