<nav
  class="flex flex-row justify-between items-center w-full min-h-[62px] fixed top-0 px-[5%] md:px-[15%] bg-main-bg-75 border-main-border z-[2]"
>
  <div>Logo</div>
  <div class="hidden md:flex flex-row gap-4">
    <a
      href="#about"
      class="no-underline text-white font-bold hover:border-b-main-highlight border-b-transparent border-b-4 pt-1"
    >
      About
    </a>
    <a
      href="#experience"
      class="no-underline text-white font-bold hover:border-b-main-highlight border-b-transparent border-b-4 pt-1"
    >
      Experience
    </a>
    <a
      href="#technologies"
      class="no-underline text-white font-bold hover:border-b-main-highlight border-b-transparent border-b-4 pt-1"
    >
      Technologies
    </a>
    <a
      href="#contact"
      class="no-underline text-white font-bold hover:border-b-main-highlight border-b-transparent border-b-4 pt-1"
    >
      Contact
    </a>
  </div>
</nav>

<style>
  nav {
    transition: 0.3s ease;
  }
  .nav-scrolled {
    border-bottom: 1px solid #434343;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px 5px #162d48;
  }
</style>
